.album__container {
  .album__title {
    margin: 25px 0 0 10%;
  }
  .title {
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  font-family: 'Montserrat', sans-serif;
}

