.university-disclaimer {
	width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    padding-bottom: 25px;
    
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
}