.contact {
  padding: 0 100px; }
  .contact h2 {
    text-align: center;
    margin-bottom: 50px; }
  .contact .contact-officer {
    margin-bottom: 30px; }
    .contact .contact-officer:last-child {
      margin-bottom: 0; }
    .contact .contact-officer p {
      margin: 0;
      margin-bottom: 5px;
      margin-left: 10px; }
      .contact .contact-officer p:first-child {
        font-weight: bold;
        margin-left: 0; }
      .contact .contact-officer p:last-child {
        margin-bottom: 0; }
