* {
  box-sizing: border-box; }

.gallery {
  font-family: 'Open Sans', sans-serif; }
  .gallery .album__grid {
    margin: auto;
    max-width: 1200px; }
    .gallery .album__grid .grid__photo {
      width: 33%;
      height: 350px;
      display: inline-block;
      padding: 25px;
      vertical-align: top;
      position: relative; }
      .gallery .album__grid .grid__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%; }
      .gallery .album__grid .grid__photo .photo__overlay:hover {
        transition: 0.5s;
        cursor: pointer; }
      .gallery .album__grid .grid__photo .photo__overlay {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        position: absolute;
        top: 25px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black); }
      .gallery .album__grid .grid__photo .label {
        font-size: 18px;
        color: white;
        position: absolute;
        bottom: 50px;
        margin-left: 25px; }

@media (max-width: 900px) {
  .gallery .album__grid .grid__photo {
    width: 50%; } }

@media (max-width: 600px) {
  .gallery .album__grid .grid__photo {
    width: 100%; } }
