.membersTab {
  font-family: 'Open Sans', sans-serif; }
  .membersTab .ReactTable .rt-thead.-header {
    background: #7b7b7b;
    color: white;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600; }
  .membersTab .ReactTable .rt-tbody .rt-td {
    overflow: scroll;
    white-space: normal; }
    .membersTab .ReactTable .rt-tbody .rt-td p {
      margin: 0;
      line-height: inherit; }

.a__membersTab {
  max-width: 1200px;
  margin: auto; }
  .a__membersTab .title {
    margin: 50px 0 25px 0; }
  .a__membersTab .subject {
    color: #64B5F6;
    font-weight: 700; }
  .a__membersTab .p-subject {
    padding-top: 25px; }
  .a__membersTab p {
    text-align: justify;
    margin-left: 11%;
    margin-right: 11%;
    line-height: 25px; }
    .a__membersTab p:first-child {
      margin-top: 50px; }

.b__membersTab .paid__links {
  display: inline-block;
  padding-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%); }
  .b__membersTab .paid__links a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #64B5F6; }
    .b__membersTab .paid__links a:hover {
      opacity: 0.7; }

.c__membersTab .ReactTable {
  margin-top: 50px; }
