@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600,700" rel="stylesheet');
.navbar {
  font-family: 'Montserrat';
  text-transform: uppercase;
  width: 100%;
  max-height: 60px; }
  .navbar .hamburger, .navbar .link--hamburger {
    display: none; }
  .navbar .hamburger .hamburger-box {
    transform: scale(0.6); }
  .navbar button:focus {
    outline: 0; }
  .navbar img {
    width: 50px;
    margin-left: 25px; }
  .navbar .link {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 25px;
    line-height: 54px;
    color: black;
    transition: color 150ms; }
    .navbar .link:hover {
      color: #64B5F6; }
  .navbar .link .active {
    color: #64B5F6;
    font-weight: 700; }
  .navbar .nav__container {
    display: inline-block;
    float: right; }
  @media (max-width: 500px) {
    .navbar .hamburger {
      display: inline-block;
      float: right; }
    .navbar .nav__container {
      width: 100%;
      margin: 0;
      text-align: right; }
      .navbar .nav__container.container--open {
        display: none; }
      .navbar .nav__container .link {
        display: block;
        margin: 0;
        line-height: 2.0;
        margin-right: 10px;
        color: black;
        transition: color 150ms; }
        .navbar .nav__container .link:hover {
          color: #64B5F6; }
      .navbar .nav__container .link--hamburger {
        display: block;
        text-decoration: none;
        margin-right: 10px;
        color: black;
        transition: color 150ms; }
        .navbar .nav__container .link--hamburger:hover {
          color: #64B5F6; }
    .navbar.navbar--open {
      max-height: 400px;
      height: 185px; } }
